<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/main.css">
    <title>{{ title }}</title>
</head>
<body>
    <nav>
        <a href='/'>Index</a></li>
        <a href=info>Info</a></li>
        <a href=dashboard>Dashboard</a></li>
    </nav>    
    <p>test title: {{ title }}</p>
    <p>this is my info page!!!! {{ timestamp }}</p>
    <p>arduino data!!!!! -> {{ getData }}</p>
    <p>motion {{ motion }}</p>
    <!-- <p>{{myArray}}</p> -->
    <script>
        // const myArray = [];
        const testing = [];

        const container = document.createElement("div");
        const genericButton = document.createElement("button");

        // const myArray = {{ myArray | tojson }};
        // console.log("myarray: " + myArray);

        // async function checkStatus() {
        // const response = await fetch('http://172.17.20.210:5000/info');
        // console.log(response);
        // const data = await response.json();
        // console.log(data);
        // data.myArray.forEach(element => {
        //     console.log(element);
        //     });
        // return data;
        // }

        // async function loopingData() {
        //     const url = 'http://172.17.20.210:5000/info';
        //     try {
        //         const response = await fetch(url);
        //         if (!response.ok) {
        //         throw new Error(`Response status: ${response.status}`);
        //         }


                
        //         const result = await response.json();
        //         // console.log(myArray);
        //     } catch (error) {
        //         console.error(error.message);
        //     }
        // }

        async function polling() {
            console.log("polling started");

            const response = await fetch("/api/info");
            console.log("fetch finished");

            const data = await response.json();
            console.log("data:", data.test);
            testing.push(data);
            console.log(testing);
            console.log(testAdd);

            // myArray.push(data);
            // console.log("myArray:", myArray);

            setTimeout(polling, 5000);
        }
        polling();
        // loopingData();
    </script>
</body>
</html>